<!DOCTYPE html>
{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
<html lang="en">
 
<head>
    <title>Growing Up Elsewhere</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
 {% block content %}
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="homepage.html">Home</a>
                    </li>
                    <li role="presentation" class="active"><a href="about.html">About</a>
                    </li>
                    <li role="presentation"><a href="match.html">Match Me!</a>
                    </li>
                    <li role="presentation"><a href="charities.html">Charities</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Growing Up Elsewhere</h3>
        </div>
 
        <div class="jumbotron">
            <h3>About</h3>
            <p>Surprised about election results? So were we.</p>
            
            <p>
            This election has brought to light the vast disparities of living conditions in different parts of America. With uneven development occuring across the country, we have lost touch with what other parts of America are like. Growing Up Elsewhere aims to show you what your life would be like if you grew up elsewhere. How would your income change? Access to women's healthcare? What about pregnancy rates? 
            </p>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="match" role="button">Match me! </a>
            </p>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
        <div class="row">
            {% for id in ids %}
                <h2>Bar chart for {{choice}}</h2>
                <div id="{{id}}"></div>
            {% endfor %}
        </div>
         <div>
           
        </div>
    </div>
  <div class="container">
        <div class="row">
            {% for id in id2 %}
                <h2>Scatter plot for {{state}}</h2>
                <div id="{{id}}"></div>
            {% endfor %}
        </div>
         <div>
           
        </div>
    </div>


        <footer class="footer">
            <p>&copy; Company 2015</p>
            <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

    <script type="text/javascript">

        var graphs = {{graphJSON | safe}}
        var graph2 = {{graphJSON2 | safe}};
        var ids = {{ids | safe}};
        var id2 = {{id2 | safe}};
        //var data = {{data | safe}}
        for(var i in graphs) {
            Plotly.plot(ids[i], // the ID of the div, created above
                        graphs[i].data,
                        graphs[i].layout || {});
        }
        for(var x in graph2) {
            Plotly.plot(id2[x], // the ID of the div, created above
                        graph2[x].data,
                        graph2[x].layout || {});
        }

    </script>
        </footer>
 
    </div>
</body>
 
</html>
{% endblock %}