
<!DOCTYPE html>


<html lang="en">
 
<head>
    <title> Growing Up Elsewhere </title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="homepage.html">Home</a>
                    </li>
                    <li role="presentation"><a href="about.html">About</a>
                    </li>
                    <li role="presentation"><a href="match.html">Match Me!</a>
                    </li>
                    <li role="presentation" class="active"> <a href="charities.html">Charities</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Growing Up Elsewhere</h3>
        </div>
 
        <div class="jumbotron">
            <h1> If you care -  <br />
            Donate and Impact </h1>
            <p> Click on social issues below to find relevant charities </p>
            <p class="lead"></p>
 
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
            
                <a href="education.html">
                <h4>Education</h4>
                <p><img src="education.jpg"></p>
                </a>
                
                <h4> Poverty </h4>
                <p><img src="poverty.jpg"></p>
 
                <h4> Health Care </h4>
                <p><img src="health.jpg"></p>
            </div>
 
            <div class="col-lg-6">
                <h4> Minorities </h4>
                <p><img src="minority.jpg"></p>
 
                <h4> Food Security </h4>
                <p><img src="food.jpg"></p>
 
                <h4> Parenthood </h4>
                <p><img src="parenthood.jpg"></p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>
 
    </div>
</body>
 
</html>